.container
  - if @post.present?
    %h3.title= @post.title
    .content= @post.content
    .createdAt="Created at #{@post.created_at}"

  - else
    .notice= "not found"

  = link_to 'View Posts',  posts_path
